@font-face {
  font-family: "BigShouldersDisplay";
  src: url("../fonts/BigShouldersDisplay-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "BigShouldersDisplay";
  src: url("../fonts/BigShouldersDisplay-Light.ttf") format("truetype");
}

@font-face {
  font-family: "LexendDeca";
  src: url("../fonts/LexendDeca-Regular.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F2F2F2;
}

.bg-icon_sedans {
  width: 64px;
  height: 40px;
  background: url("../images/css_sprites.png") -10px -70px;
}

.bg-icon_luxury {
  width: 64px;
  height: 40px;
  background: url("../images/css_sprites.png") -94px -10px;
}

.bg-icon_suvs {
  width: 64px;
  height: 40px;
  background: url("../images/css_sprites.png") -10px -10px;
}

.main__container {
  width: 920px;
  max-width: 920px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__container h1 {
  font-size: 40px;
  margin: 35px 0px 25px 0;
  font-weight: bold;
  color: #F2F2F2;
  font-family: "BigShouldersDisplay";
}

.main__container p {
  color: #F2F2F2;
  font-size: 15px;
  font-family: "LexendDeca";
  line-height: 25px;
  font-weight: 400;
}

.main__container button {
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  width: 146px;
  height: 48px;
  font-family: "LexendDeca";
  border: 2px solid transparent;
  border-radius: 25px;
  background-color: #F2F2F2;
  cursor: pointer;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

.main__container button:hover {
  border: 2px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
}

.main__container button.active {
  border: 2px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
}

.main__container--first-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 48px;
  width: 307px;
  background-color: #E28625;
  height: 500px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.main__container--first-column button {
  color: #E28625;
}

.main__container--second-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 500px;
  width: 307px;
  padding: 48px;
  background-color: #006971;
}

.main__container--second-column button {
  color: #006971;
}

.main__container--third-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 500px;
  width: 307px;
  padding: 48px;
  background-color: #004140;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.main__container--third-column button {
  color: #004140;
}

.attribution {
  font-size: 11px;
  text-align: center;
  font-family: "LexendDeca";
  margin-top: 1rem;
}

.attribution a {
  color: #3e52a3;
}

@media (min-width: 768px) and (max-width: 991px) {
  .main__container {
    min-width: 726px;
    max-width: 744px;
    margin: 1rem auto;
  }
  .main__container p {
    line-height: 23px;
  }
  .main__container .button {
    font-size: 15px;
    width: 146px;
    height: 48px;
    margin-top: 90px;
    border: 1px solid transparent;
    border-radius: 25px;
    background-color: #F2F2F2;
    cursor: pointer;
  }
  .main__container .button:hover {
    border: 1px solid #ffffff;
    background-color: transparent;
    color: #ffffff;
  }
  .main__container .button.active {
    border: 1px solid #ffffff;
    background-color: transparent;
    color: #ffffff;
  }
  .main__container--first-column, .main__container--second-column, .main__container--third-column {
    width: 247px;
    padding: 38px;
  }
}

@media (min-width: 340px) and (max-width: 767.9px) {
  body {
    height: auto;
    margin: 2rem auto;
  }
  .main__container {
    max-width: 320px;
    margin: 1rem auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main__container--first-column {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 0px;
  }
  .main__container--third-column {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  .attribution {
    margin: 1rem auto;
  }
}

@media (max-width: 339px) {
  body {
    height: auto;
    margin: 1rem auto;
  }
  .attribution {
    max-width: 95%;
    margin: 1rem auto;
  }
  .main__container {
    max-width: 95%;
    margin: 1rem auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main__container--first-column {
    width: 95%;
    padding: 48px 30px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 0px;
  }
  .main__container--second-column {
    width: 95%;
    padding: 48px 30px;
  }
  .main__container--third-column {
    width: 95%;
    padding: 48px 30px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  .main__container button {
    width: auto;
    padding: 0.3rem 2rem;
  }
}
/*# sourceMappingURL=styles.css.map */